<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 2 Basics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
</head>

<body>
    <div id="root" class="container">
        <div class="row">
            <div class="col-12 my-4">
                <div class="card">
                    <div class="card-header bg-warning text-white">
                        {{title}}
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input id="create" type="text" class="form-control" @keypress.enter="createItem"
                                v-model="input">
                            <div class="input-group-append">
                                <button class="input-group-text" @click="createItem" :disabled="buttonDisabled">
                                    {{ buttonText }}
                                </button>
                            </div>
                        </div>
                        <template v-if="dinos.length > 0">
                            <ul class="list-group mb-3">
                                <li v-for="(dino, index) in dinos"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="btn-group" role="group" aria-label="Quantity">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                v-on:click="dino.quantity += 1" v-show="dino.quantity < 5">+</button>
                                            <button type="button"
                                                class="btn btn-sm btn-ligth disabled">{{dino.quantity}}</button>
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                v-on:click="dino.quantity -= 1" v-show="dino.quantity > 1">-</button>
                                        </div>
                                        <h5 class="mb-1">{{dino.name | capitalize}}</h5>
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <button class="btn btn-sm btn-light" @click="deleteItem(index)">x</button>
                                        </div>
                                    </div>
                                    <p class="mb-1">The {{dino.name}} has {{dino.weight}}kg.</p>
                                    <small><a
                                            class="text-primary">https://en.wikipedia.org/wiki/{{dino.name | undercase}}</a></small>
                                </li>
                            </ul>
                        </template>
                        <p class="lead">You dont have dinos yet! =/</p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Dinosaurs <small>{{totalDinos}}</small>
                                <span class="badge badge-light badge-pill">Updated: {{dinosUpdated}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Species <small>{{totalSpecies}}</small>
                                <span class="badge badge-light badge-pill">Updated: {{speciesUpdated}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#root',
            data: {
                title: "Dinos",
                dinos: [
                    { name: "Velo", weight: 100, quantity: 5 },
                    { name: "Trice", weight: 200, quantity: 4 },
                    { name: "Stego", weight: 400, quantity: 3 }
                ],
                dinosUpdated: 0,
                speciesUpdated: 0,
                input: "",
                buttonText: "Add"
            },
            methods: {
                createItem: function () {
                    var input = document.getElementById('create');
                    if (input.value !== '') {
                        this.dinos.unshift({
                            name: input.value,
                            weight: Math.ceil(Math.random() * 1000),
                            quantity: 1
                        });
                        input.value = ""
                    }
                },
                deleteItem: function (index) {
                    this.dinos.splice(index, 1);
                }
            },
            filters: {
                capitalize: function (value) {
                    if (!value) {
                        return;
                    };
                    value = value.toString();
                    return value.charAt(0).toUpperCase() + value.slice(1);
                },
                undercase: function (value) {
                    if (!value) {
                        return;
                    };
                    value = value.toString();
                    return value.toLowerCase();
                }
            },
            computed: {
                buttonDisabled: function () {
                    return this.input == "";
                },
                totalDinos: function () {
                    this.dinosUpdated += 1;
                    let total = 0;
                    let items = this.items;

                    for (const i in items) {
                        total += items[i].quantity;
                    }
                    return total;
                },
                totalSpecies: function () {
                    this.speciesUpdated += 1;
                    return this.dinos.length;
                }
            },
            watch: {
                input: _.debounce(function () {
                    this.buttonText = this.input !== "" ? "Add " + this.input : "Add";
                })
            }
        })
    </script>
</body>

</html>